/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

img{
  max-width: 100%;
  height: auto;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  margin-top: 0;
  margin-bottom: 0;
}

h3{
  margin-top: 0;
  margin-bottom: 0;
}

h4{
  margin-top: 0;
  margin-bottom: 0;
}

p{
  margin-top: 0;
  margin-bottom: 0;
}

#nav-section , #jumbo , #second-section , #fourth-section , #fifth-section , #sixth-section , #seventh-section , footer{
  padding: 0 10%;
}

#first-section , #third-section{
  padding: 0 12%;
}

/* regole di debug */
[class*="col-"]{
  min-height: 100px;
  background-color: lightgreen;
  border: 1px solid black;
}

[class*="col-"] > .row > [class*="col-"]{
  min-height: 100px;
  background-color: pink;
  border: 1px solid black;
}

/* regole intestazione */
header{
  /* debug */
  min-height: 200px;
  background-color: yellow;
}

/* regole jumbotron */
#jumbo .ms_right-content button img{
  height: 20px;
}

/* regole corpo della pagina */
main{
  /* debug */
  min-height: 800px;
  background-color: grey;
}

section{
  /* debug */
  border: 1px solid black;
}

/* regole prima sezione */

/* regole seconda sezione */

/* regole terza sezione */
#third-section{
  text-align: center;
}

#third-section #carousel-example-generic{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* regola quarta sezione */

/* regole quinta sezione */

/* regole sesta sezione */
#sixth-section #carousel-example-generic{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* regole settima sezione */
#seventh-section{
  text-align: center;
}

/* regole footer */
footer{
  /* debug */
  min-height: 200px;
  background-color: lightblue;
}
