/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

body{
  font-size: 13px;
}

/* sovrascrittura framework */
h1 , h2 , h3 , h4 , p{
  margin-top: 0;
  margin-bottom: 0;
}

a{
  color: #006aff;
}

.table{
  margin-bottom: 0;
}

/* regole padding laterale delle sezioni*/
#nav-section , #jumbo , #second-section , #fourth-section , #fifth-section , #sixth-section , #seventh-section , footer{
  padding: 0 10%;
}

/* regale padding laterale prima e terza sezione */
#first-section , #third-section{
  padding: 0 12%;
}

/* regole padding superiore e inferire delle sezioni */
#first-section , #second-section , #third-section , #fourth-section , #fifth-section , #sixth-section , #seventh-section , footer{
  padding-top: 50px;
  padding-bottom: 50px;
}

/* regole carosel */
#carousel-example-generic{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control.right {
  background: none;
}
.carousel-control.left {
  background: none;
}

/* regole intestazione */
header .navbar{
  border: none;
  margin-bottom: 0;
}

#nav-section{
  height: 50px;
  background-color: #fff;
  position: fixed;
  z-index: 900;
  width: 100%;
}

#nav-section .navbar-default{
  background-color: #fff;
  z-index: 900;
}

#nav-section .navbar-brand{
  padding-top: 15px;
  padding-bottom: 15px;
}

#nav-section .navbar-brand > img{
  height: 20px;
  text-align: center;
}

#nav-section .navbar-right button{
  color: #006aff;
  border: 1px solid #006aff;
}

/* regole jumbotron */
#jumbo{
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url("../img/home.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* regole contenuto sinistro */
#jumbo .ms_left-content h1{
  margin-bottom: 10px;
}

/* regole contenuto destro */
#jumbo .ms_right-content{
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

#jumbo .ms_right-content button img{
  height: 20px;
}

#jumbo .ms_right-content .ms_text{
  margin-top: 10px;
}

/* regole corpo della pagina */

/* regole prima sezione */
#first-section{
  background-color: #f3f5f9;
  text-align: center;
}

/* contenuto superiore */
#first-section .ms_top-content .ms_text{
  margin-bottom: 20px;
}

/* contenuto inferiore */
#first-section .ms_bottom-content .ms_text{
  margin-top: 20px;
}

/* regole seconda sezione */

/* contenuto superiore */
#second-section .ms_top-content{
  text-align: center;
}

#second-section .ms_top-content p{
  margin-top: 10px;
  margin-bottom: 50px;
}

/* contenuto inferiore */
#second-section .ms_left-content{
  margin-left: 50px;
}

#second-section .ms_left-content .ms_text{
  padding: 10px;
  border-left: 1px solid #000;
}

#second-section .ms_left-content .ms_text a{
  color: #000;
}

#second-section .ms_right-content{
  margin-bottom: 20px;
}

#second-section .ms_right-content h4{
  margin: 10px 0;
}

/* regole terza sezione */
#third-section{
  text-align: center;
  background-color: #f3f5f9;
}

/* contenuto superiore */
#third-section .ms_top-content p{
  margin-top: 20px;
  margin-bottom: 50px;
}

/* contenuto inferiore */
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  max-width: 70%;
  margin: 0 auto;
}

.carousel-caption h4{
  color: #000;
  text-shadow: none;
}

.carousel-indicators li{
  border: 1px solid #006aff;
}
/* regola quarta sezione */

/* contenuto superiore */
#fourth-section .ms_top-content{
  text-align: center;
}

#fourth-section .ms_top-content h2{
  margin-bottom: 30px;
}

/* contenuto inferiore */
#fourth-section .ms_bottom-content h4{
  margin: 10px 0;
}

#fourth-section .ms_bottom-content p{
  margin-bottom: 10px;
}

/* regole quinta sezione */
#fifth-section{
  background-image: linear-gradient( #0047c5, #00209a);
  color: #fff;
}

/* contenuto superiore */
#fifth-section .ms_top-content{
  text-align: center;
}

#fifth-section .ms_top-content h2{
  margin-bottom: 20px;
}

/* contenuto inferiore */
#fifth-section .ms_bottom-content{
  margin: 0 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td ,{
  border-top: 0;
  border-bottom: 1px solid #fff;
}
/* regole sesta sezione */
#sixth-section{
  background-color: #f3f5f9;
}

/* contenuto superiore */
#sixth-section .ms_top-content{
  text-align: center;
}

#sixth-section .ms_top-content h2{
  margin-bottom: 100px;
}

/* contenuto inferiore */


/* regole settima sezione */
#seventh-section{
  text-align: center;
  background-image: linear-gradient( #0047c5, #00209a);
}

#seventh-section h2{
  color: #fff;
}

#seventh-section button{
  margin-top: 20px;
  color: #006aff;
}

/* regole footer */
footer{
  /* debug */
  background-color: #031c4e;
}

footer .ms_content .ms_text{
  color: #cecece;
}

footer .ms_content .ms_text:first-of-type{
  margin-top: 10px;
}

#grey-ms_text{
  color: #666666;
  margin-bottom: 10px;
}

footer .ms_content ul li{
  display: inline-block;
  margin-right: 10px;
}

footer .ms_content .ms_text a{
  display: block;
}

footer .ms_content [class*="fab"]{
  color: #a0a0a0;
}

footer .ms_content{
  color: #fff;
}

footer .ms_content a{
  color: #808080;
}

/* regole per smartphone */
@media (max-width: 768px){
  #jumbo , #first-section , #second-section , #fourth-section , #fifth-section , #seventh-section , footer{
    padding: 50px 1%;
  }

  #third-section , #sixth-section{
    padding: 50px 5%;
  }

  /* regole jumbotron */
  #jumbo h1{
    margin-top: 50px;
  }

  #jumbo p{
    margin-bottom: 20px;
  }

  /* regole seconda sezione */
  #second-section .ms_left-content{
    margin-left: 0px;
    margin-bottom: 20px;
  }

  /* regole quarta sezione */
  #fourth-section .ms_bottom-content{
    margin-bottom: 20px;
  }

  /* regole quinta sezione */
  #fifth-section .ms_bottom-content{
    margin-bottom: 40px;
  }

  /* regole footer */
  footer .ms_content{
    margin-bottom: 20px;
  }
}

/* regole per tablet */
@media (min-width: 769px){
  /* regole jumbotron */
  #jumbo p{
    margin-bottom: 20px;
  }

  /* regole seconda sezione */
  #second-section .ms_left-content{
    margin-left: 0px;
    margin-bottom: 20px;
  }

  /* regole quarta sezione */
  #fourth-section .ms_bottom-content{
    margin-bottom: 20px;
  }

  /* regole quinta sezione */
  #fifth-section .ms_bottom-content{
    margin-bottom: 40px;
  }

  /* regole footer */
  footer .ms_content{
    margin-bottom: 20px;
  }
}
